mixin video(video)
        div 
            h4 
                a(href=`/videos/${video.id}`)=video.title
            p=video.description
            ul
                each hashtag in video.hashtags 
                    li=hashtag
            small=video.createdAt
            hr  
            //#{info}이라고 써도 됨
            //- ul 
            //-     li #{info.ratings}/5
            //-     li #{info.comments} comments.
            //-     li Posted #{info.createdAt}
            //-     li #{info.views} views.